@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bs1{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.spinner{
  position: absolute;;
  top: 50%;
  left: 50%;
  z-index: 1;
}
h1{
  font-size: 25px;
  font-weight: bold;
  color: rgb(29, 13, 7);
}
p{
  margin: 5px !important;
  font-weight: bold ;
  color: rgb(17, 14, 13);

}
.btn1{
  box-shadow: none !important;
  background-color: white !important;
  color: coral !important;
  border: 1px solid rgb(20, 11, 8);
  padding: 5px 10px!important;

}
button{
  padding: 3px 10px!important  ;
}
.header{
  padding: 10px;
  
}
.header .ant-btn{
  box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important;
}

.content{
  min-height: 90vh;
  /* background-color: azure; */
} 
.car{
  border-radius: 5px;
  margin-top: 100px;
  height: 160px;
  transition: 0.3s;
  /* position: relative;
  border-radius: 10px;
  margin-top: 50px;
  height: 220px;
  width: 100%;
  transition: 0.3s ease-in-out;
  overflow: hidden; /* Prevents content from spilling out */
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  /* background: white; */ 
}
.car:hover{
  height: 220px;
}
.car:hover> .car-content{
  opacity: 1;
  transform: translateY(-40px);
}
.carimg{
  height: 150px;
  width: auto;
  border-radius: 10px 10px 0 0;
  transform: translateY(-50px);
  object-fit: cover;
}
.car-content{
  transform: translateY(-200px);
  opacity: 0;  
  transition: 0.3s;
  
}
.login{
  background-color: black;
  padding-top: 50px;
  min-height: 100vh;
}

.login label , .login h1{
  color: rgb(214, 189, 189) !important;
  opacity: 0.6;
}
.login-form{
  background-color: #1F1F1F;
}
.login-form input{
  background-color: #333333 !important;
  border: none !important;
  color: white;
  opacity:0.5;
}
.img-large{
  width: 100%;
  height: auto;  
  max-height: 500px;  
  object-fit: cover;  
  border-radius: 10px; 
  margin-top: 110px;
}

.login-logo{
  position: absolute;
  left:55%;
  right: 45%;
  top:45%;
  bottom: 50%;
  transform: translateY(-50%, 50%);
  font-size: 50px;
  opacity: 0.5 !important;
  
}
.login a {
  color: white !important;
  opacity: 0.5;
}

.carimg2{
  height: 400px;
  border-radius: 10px;
  width: auto;
}
.action-button {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #ff5647;
}
.modal-buttons {
  text-align: right;
  margin-top: 15px;
}
.driver-checkbox {
  margin-top: 10px;
}


svg{
  height:20px !important;
  width : 20px !important;
}
a{
  color: rgb(31, 27, 25) !important;
}