@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bs1{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
h1{
  font-size: 25px;
  font-weight: bold;
  color: coral;
}
p{
  margin: 5px !important;
  font-weight: bold ;
  color: coral;

}
.btn1{
  box-shadow: none !important;
  background-color: white !important;
  color: coral !important;
  border: 1px solid coral;

}
.header{
  padding: 10px;
  
}

.content{
  min-height: 90vh;
  /* background-color: azure; */
} 

.carimage{
  height: 180px;
  width: auto;
  border-radius: 5px;
}